<!-- <div class="toolbar" role="banner">
    <span>Plateforme de gestion des menus</span>
      <div class="spacer"></div>
      <button mat-mini-fab color="white">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      </button>
      <div style="margin: 5px;"></div>
     <button mat-mini-fab color="white">
      <mat-icon aria-hidden="false" aria-label="Example home icon" matTooltip="creation de menus">add</mat-icon>
     </button>
  </div> 
-->

<div class="content" role="main" >
  <!-- Liste profils -->
  <mat-card class="mat-card">
    <mat-card-title>Plateforme de gestion des menus
    
      </mat-card-title>
   <!--   <mat-card-subtitle> Cette page affiche les différents profils des utilisateurs:</mat-card-subtitle>  -->
  </mat-card>
  
  <div class="row">
        
        <div class="card-container" *ngFor="let menu of menus" (click) ="getMenuByParentId(menu.id)">
    
          <a class="card" target="_blank" rel="noopener" >
            <h2 >{{menu.libelle}}</h2>
          </a>
        </div>

    
  </div>


</div>
  
  
  